/* window menus */
div.menu, div.submenu{
  position: relative;
  display: flex;
  align-self: left;
  text-align: left;
} 

div.submenu{
  flex: 1;
}

ul.menu{
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 1000;
}

ul.submenu {
  position: absolute;
  left: 100%;
  top: 0%;
  z-index: 1000;
}

.menu>li, .submenu>li{
  margin: 0;
  flex: 1;
}

span.submenu.text{
  flex: 1;
  text-align: left;
  padding-right: 4px;
}

span.submenu.arrow{
  padding-right: 4px;
}

/* window header */
div.header{
  display: flex;
}

button.header{
  align-self: center;
}

span.header{
  flex: 1;
}

/* window */
div.window{
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);
}